<article class="max-w-full prose dark:prose-invert">
  {{ with .Title }}
    <header>
      <h1>{{ . | emojify }}</h1>
    </header>
  {{ end }}
  <section>{{ .Content | emojify }}</section>
  <footer class="flex flex-col items-center mb-3">
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "288x288" }}
        <img
          class="mb-2 rounded-full h-36 w-36"
          width="144"
          height="144"
          alt="{{ $.Site.Author.name | default "Author" }}"
          src="{{ $authorImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <h5 class="text-4xl">
      {{ .Site.Author.name | default .Site.Title }}
    </h5>
    {{ with .Site.Author.bio }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  </footer>
</article>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
